*.pyc
*.pyo
*.db
*.log
*.pot
.DS_Store
.coverage
local_settings.py
.idea/
.sass-cache/
/db
/env
/uploads/
/media
/static/media/
/static/lib/
/settings/local.py
/settings/deploy.py
/CACHE/
/tmp/
/dumps/

/node_modules/
/bower_components/
